src/main/mule/scheduler-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="scheduler-flowFlow" doc:id="63e69abd-eb0c-4f66-a2aa-9c50baaa5040" >
		<scheduler doc:name="Scheduler" doc:id="8c68e1ea-83e4-4bef-9be1-612faab83fab" >
			<scheduling-strategy >
				<fixed-frequency frequency="24" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Select" doc:id="78609dda-84be-4b01-80b5-0fe39e895cba" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM nithish.bank_transactions;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="012d11b0-4d91-48f6-9381-e83a7d087c6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="balance" ><![CDATA[%dw 2.0
output application/json
---
payload.totalBalance[0]]]></ee:set-variable>
				<ee:set-variable variableName="maill" ><![CDATA[%dw 2.0
output application/json
---
payload.mailId[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="3c3192a8-94b9-4948-ab09-7ca5c1207177" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
""]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="mailMsg" ><![CDATA[%dw 2.0
output application/json
import * from dw::util::Coercions
---
"Your Account Balance is " ++ toString(vars.balance)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="abf21d9e-efbf-4ac6-99cb-ad57b04cae41" >
			<email:send doc:name="Send" doc:id="c911433e-cb04-4151-8b2d-c96f3d56e22c" config-ref="Email_SMTP" fromAddress="nithishnaani1616@gmail.com" subject='#["Your Total Balance"]'>
			<email:to-addresses>
					<email:to-address value="#[vars.maill]" />
			</email:to-addresses>
				<email:body >
					<email:content ><![CDATA[#[vars.mailMsg]]]></email:content>
				</email:body>
		</email:send>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="d0e103a6-b6e4-41c6-b34a-7d466d3c3f08" message="#[payload]"/>
	</flow>
</mule>
